@font-face {
    font-family: "wooriDaum";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "wooriDaum";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "wooriDaum";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/wooriDaum/wooriDaum-Bold.ttf") format("truetype");
    font-display: swap;
}
.wooriDaum {
    font-family: "wooriDaum";
}
.wooriDaum300 {
    font-family: "wooriDaum";
    font-weight: 300;
}
.wooriDaum400 {
    font-family: "wooriDaum";
    font-weight: 400;
}
.wooriDaum700 {
    font-family: "wooriDaum";
    font-weight: 700;
}